<style>

.imgoverlay:after,
.imgoverlay:hover:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000;
	z-index: 1;
	-webkit-transition: 0.4s ease;
	-moz-transition: 0.4s ease;
	-ms-transition: 0.4s ease;
	-o-transition: 0.4s ease;
	transition: 0.4s ease;
	opacity: .35;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
</style>

<!-- PAGE CONTENT -->
<div id="page-content">

	<!-- HEADER -->
	<%= render "shared/header" %>
	<!-- HEADER -->  
	
	
	<!-- PAGEBODY -->
	<div class="page-body">
        
		<div class="owlcarousel portfolio-carousel" data-pagination="false" data-navigation="true">
			<div class="portfolio-carousel-item" style="background-image:url(<%= image_path("uploads/sidewalk.jpg")%>);">
				<div class="imgoverlay overlay-dark overlay-transparent name-hidden">
					<div class="overlaycaption">
						<h5 class="overlay-name title-minimal"><strong>Photos</strong></h5>
						<div class="separator-small"><span></span></div>
						<h2 class="alttitle">
							<span class="fa fa-instagram" style="color: #fff;"></span>
						</h2>
						
					</div>
					<a href="/photos" class="transition"></a>
				</div>
			</div>
			<div class="portfolio-carousel-item" style="background-image:url(<%= image_path("uploads/skateboard.jpg")%>); background-position: -250px center;">
				<div class="imgoverlay overlay-dark overlay-transparent name-hidden">
					<div class="overlaycaption">
						<h5 class="overlay-name title-minimal"><strong>Lyrics</strong></h5>
						<div class="separator-small"><span></span></div>
						<h2 class="alttitle">
							<span class="fa fa-heart" style="color: #fff;"></span>
						</h2>
					</div>
					<a href="/lyrics" class="transition"></a>
				</div>
			</div>
			<div class="portfolio-carousel-item" style="background-image:url(<%= image_path("gallery/7.jpg")%>); background-position: -200px center;">
				<div class="imgoverlay overlay-dark overlay-transparent name-hidden">
					<div class="overlaycaption">
						<h5 class="overlay-name title-minimal"><strong>Music</strong></h5>
						<div class="separator-small"><span></span></div>
						<h2 class="alttitle">
							<span class="fa fa-soundcloud" style="color: #fff;"></span></h2>
					</div>
					<a href="/music" class="transition"></a>
				</div>
			</div>
			<div class="portfolio-carousel-item" style="background-image:url(<%= image_path("uploads/roof.jpg")%>);  background-position: -720px 0;">
				<div class="imgoverlay overlay-dark overlay-transparent name-hidden">
					<div class="overlaycaption">
						<h5 class="overlay-name title-minimal"><strong>Videos</strong></h5>
						<div class="separator-small"><span></span></div>
						<h2 class="alttitle"><span class="fa fa-youtube" style="color: #fff;"></span></h2>
					</div>
					<a href="/videos" class="transition"></a>
				</div>
			</div>
			
		</div>

		<!-- FOOTER -->
		<%= render "shared/footer" %>
		<!-- FOOTER -->  
		
      	
        
 	</div> <!-- END .page-body -->
	<!-- PAGEBODY -->
    
</div> <!-- END #page-content -->
<!-- PAGE CONTENT -->
