<!-- PAGE CONTENT -->
<div id="page-content">

	<!-- HEADER -->
	<%= render "shared/header" %>
	<!-- HEADER -->  
	
	
	<!-- PAGEBODY -->
	<div class="page-body">
        
		<div class="owlcarousel portfolio-carousel" data-pagination="false" data-navigation="true">
			<div class="portfolio-carousel-item" style="background-image:url(<%= image_path("uploads/sidewalk.jpg")%>);">
				<div class="imgoverlay overlay-dark overlay-transparent name-hidden">
					<div class="overlaycaption">
						<h5 class="overlay-name title-minimal"><strong>Malia</strong></h5>
						<div class="separator-small"><span></span></div>
						
					</div>
					<a href="malia.html" class="transition"></a>
				</div>
			</div>
			<div class="portfolio-carousel-item" style="background-image:url(<%= image_path("uploads/skateboard.jpg")%>); background-position: -550px center;">
				<div class="imgoverlay overlay-dark overlay-transparent name-hidden">
					<div class="overlaycaption">
						<h5 class="overlay-name title-minimal"><strong>Lyrics</strong></h5>
						<div class="separator-small"><span></span></div>
						<h2 class="alttitle">
							<span class="fa fa-heart" style="color: #fff;"></span>
						</h2>
					</div>
					<a href="lyrics.html" class="transition"></a>
				</div>
			</div>
			<div class="portfolio-carousel-item" style="background-image:url(<%= image_path("uploads/garage.jpg")%>); ">
				<div class="imgoverlay overlay-dark overlay-transparent name-hidden">
					<div class="overlaycaption">
						<h5 class="overlay-name title-minimal"><strong>Music</strong></h5>
						<div class="separator-small"><span></span></div>
						<h2 class="alttitle">
							<span class="fa fa-soundcloud" style="color: #fff;"></span></h2>
					</div>
					<a href="portfolio-single3.html" class="transition"></a>
				</div>
			</div>
			<div class="portfolio-carousel-item" style="background-image:url(<%= image_path("uploads/roof.jpg")%>);  background-position: -720px 0;">
				<div class="imgoverlay overlay-dark overlay-transparent name-hidden">
					<div class="overlaycaption">
						<h5 class="overlay-name title-minimal"><strong>Videos</strong></h5>
						<div class="separator-small"><span></span></div>
						<h2 class="alttitle"><span class="fa fa-youtube" style="color: #fff;"></span></h2>
					</div>
					<a href="videos.html" class="transition"></a>
				</div>
			</div>
			
		</div>

		<!-- FOOTER -->
		<%= render "shared/footer" %>
		<!-- FOOTER -->  
		
      	
        
 	</div> <!-- END .page-body -->
	<!-- PAGEBODY -->
    
</div> <!-- END #page-content -->
<!-- PAGE CONTENT -->
