<!-- PAGE CONTENT -->
<div id="page-content">

	<!-- HEADER -->
	<%= render "shared/header" %>
	<!-- HEADER -->  
	

	<!-- PAGE TITLE -->
	<section id="page-title" class="parallax-section" data-parallax-image="https://jaycebaron.files.wordpress.com/2014/02/1270127_10200672578433415_1899607243_o.jpg" style="background-size: contain !important; background-position: 200px 0 !important;">
		<div class="imgoverlay overlay-dark"  style="z-index: 99999;">
			<div class="section-inner wrapper align-center">
					<div class="blog-headline">
					<h4 class="post-name title-minimal"><strong>Music</strong></h4> 
				</div>
			</div>
		</div>
	</section>
	<!-- PAGE TITLE -->
	
	
	<!-- PAGEBODY -->
	<div class="page-body">
	
       <section id="work">
       		<div class="section-inner">
			<div class="main-title wrapper align-center">
				<!-- CLIENTS -->
				<div class="wrapper">
					<div class="main-title align-center">
						<h4><strong>Listen</strong></h4>
						<div class="separator-small"><span></span></div>
						<h6 class="alttitle title-minimal">Malia Music on the internet</h6>
					</div>
						
					<div class="spacer spacer-mini"></div>
					
					<div class="owlcarousel content-carousel" data-autoplay="6000" data-pagination="false">
						<div class="align-center">
							<a href="https://play.spotify.com/album/60A36S76oilJR8TI2eVGrt">
								<%= image_tag("uploads/spotify-128.png", style: "height: 80px;") %>
							</a>
						</div>
						<div class="align-center">
							<a href="https://soundcloud.com/maliavibes">
								<%= image_tag("uploads/soundcloud-128.png") %>
							</a>
						</div>
						<div class="align-center">
							<a href="https://itunes.apple.com/us/album/malia-ep/id956187095">
								<%= image_tag("uploads/itunes_A-128.png", style: "margin-top: -25px;") %>
							</a>
						</div>
						<div class="align-center">
							<a href="https://www.youtube.com/channel/UCXi8B8Vw8pCHnxKy7qKJU4A">
								<%= image_tag("uploads/youtube2-128.png", style: " height: 75px;") %>
							</a>
						</div> 
					</div>
				</div>
			   	<!-- CLIENTS -->
				
				<div class="spacer spacer-medium"></div>
				
				<ul id="portfolio-filter" class="filter clearfix" data-related-grid="portfolio-grid">
					<li><a class="active" href="#" data-option-value="*">All</a></li>
					<li><a data-option-value=".ep" href="#" title="Branding">EP</a></li>
					<li><a data-option-value=".cover" href="#" title="Print">Covers</a></li>
				</ul>
			</div>
			
			<div class="spacer spacer-small"></div>
			
			<div id="portfolio-grid" class="masonry portfolio-entries clearfix" data-maxitemwidth="600">
			
				<!-- Satisfaction -->
				<div class="portfolio-masonry-entry masonry-item ep">
					<div class="entry-thumb portfolio-thumb">
						<div class="imgoverlay name-hidden">
							<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/156853449&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						</div>
				   </div>
				</div> 
				
				<!--  Distance -->
				<div class="portfolio-masonry-entry masonry-item cover">
					<div class="entry-thumb portfolio-thumb">
						<div class="imgoverlay name-hidden">
							<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/153177945&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						</div>
				   </div>
				</div> 

				<!-- heartless -->
				<div class="portfolio-masonry-entry masonry-item cover">
					<div class="entry-thumb portfolio-thumb">
						<div class="imgoverlay name-hidden">
							<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/152263024&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						</div>
				   </div>
				</div>

				<!--missing you -->
				
				<div class="portfolio-masonry-entry masonry-item cover">
					<div class="entry-thumb portfolio-thumb">
						<div class="imgoverlay name-hidden">
							<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/148904758&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						</div>
				   </div>
				</div>

				<!-- heartbreaker -->
				<div class="portfolio-masonry-entry masonry-item cover">
					<div class="entry-thumb portfolio-thumb">
						<div class="imgoverlay name-hidden">
							<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/135674779&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
							<a href="portfolio-single2.html" class="transition"></a>
						</div>
				   </div>
				</div>


				<!-- dull aches -->
				<div class="portfolio-masonry-entry masonry-item ep">
					<div class="entry-thumb portfolio-thumb">
						<div class="imgoverlay name-hidden">
							<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/158732807&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
							<a href="portfolio-single2.html" class="transition"></a>
						</div>
				   </div>
				</div> 

				<!-- retrograde -->
				<div class="portfolio-masonry-entry masonry-item cover">
					<div class="entry-thumb portfolio-thumb">
						<div class="imgoverlay name-hidden">
							<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/147897711&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
						</div>
				   </div>
				</div>
				
				<!-- lovestruck -->
				<div class="portfolio-masonry-entry masonry-item original">
					<div class="entry-thumb portfolio-thumb">
						<div class="imgoverlay name-hidden">
							<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/185462179&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
							<a href="portfolio-single2.html" class="transition"></a>
						</div>
				   </div>
				</div>

				<!-- smile -->
				<div class="portfolio-masonry-entry masonry-item cover">
					<div class="entry-thumb portfolio-thumb">
						<div class="imgoverlay name-hidden">
							<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/147889411&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
							<a href="portfolio-single2.html" class="transition"></a>
						</div>
				   </div>
				</div> 

				<!-- fromt time -->
				<div class="portfolio-masonry-entry masonry-item cover">
					<div class="entry-thumb portfolio-thumb">
						<div class="imgoverlay name-hidden">
							<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/122834315&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
							<a href="portfolio-single2.html" class="transition"></a>
						</div>
				   </div>
				</div>

				<!-- butterfiles -->
				<div class="portfolio-masonry-entry masonry-item cover">
					<div class="entry-thumb portfolio-thumb">
						<div class="imgoverlay name-hidden">
							<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/144143345&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
							<a href="portfolio-single2.html" class="transition"></a>
						</div>
				   </div>
				</div>

				<!-- inner mission (interlude) -->
				<div class="portfolio-masonry-entry masonry-item ep">
					<div class="entry-thumb portfolio-thumb">
						<div class="imgoverlay name-hidden">
							<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/158732803&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
							<a href="portfolio-single2.html" class="transition"></a>
						</div>
				   </div>
				</div>



				<!-- confident -->
				<div class="portfolio-masonry-entry masonry-item cover">
					<div class="entry-thumb portfolio-thumb">
						<div class="imgoverlay name-hidden">
							<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/126246300&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
							<a href="portfolio-single2.html" class="transition"></a>
						</div>
				   </div>
				</div>

				<!-- come over -->
				<div class="portfolio-masonry-entry masonry-item cover">
					<div class="entry-thumb portfolio-thumb">
						<div class="imgoverlay name-hidden">
							<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/125810407&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
							<a href="portfolio-single2.html" class="transition"></a>
						</div>
				   </div>
				</div>

				
				
				<!-- tell him -->
				<div class="portfolio-masonry-entry masonry-item cover">
					<div class="entry-thumb portfolio-thumb">
						<div class="imgoverlay name-hidden">
							<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/122905468&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
							<a href="portfolio-single2.html" class="transition"></a>
						</div>
				   </div>
				</div>


				<!-- daydreamer -->
				<div class="portfolio-masonry-entry masonry-item cover">
					<div class="entry-thumb portfolio-thumb">
						<div class="imgoverlay name-hidden">
							<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/111149033&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
							<a href="portfolio-single2.html" class="transition"></a>
						</div>
				   </div>
				</div>

				<!-- unaware -->
				<div class="portfolio-masonry-entry masonry-item cover">
					<div class="entry-thumb portfolio-thumb">
						<div class="imgoverlay name-hidden">
							<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/111137802&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
							<a href="portfolio-single2.html" class="transition"></a>
						</div>
				   </div>
				</div>

				<!-- sunny day -->
				<div class="portfolio-masonry-entry masonry-item ep">
					<div class="entry-thumb portfolio-thumb">
						<div class="imgoverlay name-hidden">
							<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/158732800&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
							<a href="portfolio-single.html" class="transition"></a>
						</div>
				   </div>
				</div>
				
			
				
			
							
				
			</div> <!-- END #portfolio-grid -->	
           
         	<div class="spacer spacer-big"></div> 
			
		   	<!-- CLIENTS -->
				<div class="wrapper">
					<div class="main-title align-center">
						<h4><strong>Listen</strong></h4>
						<div class="separator-small"><span></span></div>
						<h6 class="alttitle title-minimal">Malia Music on the internet</h6>
					</div>
						
					<div class="spacer spacer-mini"></div>
					
					<div class="owlcarousel content-carousel" data-autoplay="6000" data-pagination="false">
						<div class="align-center">
							<a href="https://play.spotify.com/album/60A36S76oilJR8TI2eVGrt">
								<%= image_tag("uploads/spotify-128.png", style: "height: 80px;") %>
							</a>
						</div>
						<div class="align-center">
							<a href="https://soundcloud.com/maliavibes">
								<%= image_tag("uploads/soundcloud-128.png") %>
							</a>
						</div>
						<div class="align-center">
							<a href="https://itunes.apple.com/us/album/malia-ep/id956187095">
								<%= image_tag("uploads/itunes_A-128.png", style: "margin-top: -20px;") %>
							</a>
						</div>
						<div class="align-center">
							<a href="https://www.youtube.com/channel/UCXi8B8Vw8pCHnxKy7qKJU4A">
								<%= image_tag("uploads/youtube2-128.png", style: " height: 75px;") %>
							</a>
						</div> 
					</div>
				</div>
			   	<!-- CLIENTS -->
			
         	<div class="spacer spacer-big"></div> 
           
		   	<!-- TESTIMONIALS -->			
           <div id="testimonials" class="horizontalsection text-light parallax-section" data-parallax-image="<%= image_path("uploads/fence.jpg") %>">
	           	<div class="imgoverlay overlay-dark">
					<div class="horizontalinner wrapper">
						<div class="owlslider testimonial-slider">
						  	<div class="testimonial-item">
								<div class="testimonial-quote">As a designer there are not many other templates that comes close to this. This template really understands the main purposes of webdesign.</div>
								<h6 class="testimonial-name"><strong>Patrick Hamilton</strong></h6>
								<h6 class="testimonial-namesub alttitle">Rip Curl</h6>
							</div>
						  	<div class="testimonial-item">
								<div class="testimonial-quote">Clean, simple and so mighty.</div>
								<h6 class="testimonial-name"><strong>Andy Smith</strong></h6>
								<h6 class="testimonial-namesub alttitle">Quicksilver</h6>
							</div>
							<div class="testimonial-item">
								<div class="testimonial-quote">Wow, just amazing. Made it very easy for me to get my website up and running.</div>
								<h6 class="testimonial-name"><strong>Sementha Garro</strong></h6>
								<h6 class="testimonial-namesub alttitle">Billabong</h6>
							</div>
						</div> <!-- END .owlslider -->
	                	                    
					</div>
				</div>
         	</div> <!-- END #testimonials -->
			<!-- TESTIMONIALS -->
                          
          	</div> <!-- END .section-inner-->
     	</section>
       	<!-- PORTFOLIO --> 
        
      	<!-- FOOTER -->
		<%= render "shared/footer" %>
		<!-- FOOTER -->          
        
 	</div> <!-- END .page-body -->
	<!-- PAGEBODY -->
    
</div> <!-- END #page-content -->
<!-- PAGE CONTENT -->
