<!-- PAGE CONTENT -->
<div id="page-content">

	<!-- HEADER -->
	<%= render "shared/header" %>
	<!-- HEADER -->  
	

	<!-- PAGE TITLE -->
	<section id="page-title" class="parallax-section" data-parallax-image="<%= image_path("uploads/grasshill.jpg")%>" style="background-size: contain !important; background-position: 0px -1000px !important;">
		<div class="imgoverlay overlay-dark">
			<div class="section-inner wrapper align-center">
				<div class="blog-headline">
					<h4 class="post-name title-minimal"><strong>Videos</strong></h4> 
				</div>
			</div>
		</div>
	</section>
	<!-- PAGE TITLE -->
	

	<!-- PAGEBODY -->
	<div class="page-body">

		<!-- CLIENTS -->
		<section id="work">
	   		<div class="section-inner">
				<div class="main-title wrapper align-center">
					<div class="wrapper">
						<div class="main-title align-center">
							<h4><strong>Follow</strong></h4>
							<div class="separator-small"><span></span></div>
							<h6 class="alttitle title-minimal">Malia Music on the internet</h6>
						</div>
							
						<div class="spacer spacer-mini"></div>
							
						<div class="owlcarousel content-carousel" data-autoplay="6000" data-pagination="false">
							<div class="align-center">
								<%= image_tag("uploads/spotify-128.png", style: "height: 60px;") %>
							</div>
							<div class="align-center">
								<%= image_tag("uploads/soundcloud-128.png", style: "height: 55px;") %>
							</div>
							<div class="align-center">
								<%= image_tag("uploads/itunes_A-128.png", style: "margin-top: -30px;") %>
							</div>
							<div class="align-center">
								
								<%= image_tag("uploads/youtube2-128.png", style: "height: 55px;") %>
							</div> 
						</div>
					</div>
				</div>
			</div>
		</section>

   		<!-- BLOG SINGLE SECTION -->
		<section id="blog-single">
			<div class="section-inner clearfix">	 
				<div class="blog-media">
					<iframe src="https://www.youtube.com/embed/UQDXe72vznk" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div> <!-- END .entry-media -->
			</div> <!-- END .section-inner-->
		</section> <!-- END SECTION #blog-->


   		<br/>
   		<br/>

		
		<section id="split-demo" class="notoppadding">
       		<div class="section-inner"> 
				<!-- SPLIT DEMO A -->
				<div id="split-demo-a" class="split-section clearfix">
					<div class="split-left split-onethird">
						<div class="split-wrapped-content">
							<h4><strong>Sunny Day Acoustic Version</strong></h4>
							<div class="separator-small"><span></span></div>
							<p>
								An original.
							</p>
						</div>
					</div> <!-- END .split-left -->
					
					<div class="split-right split-twothird">
							<iframe src="https://www.youtube.com/embed/UQDXe72vznk" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div> <!-- END .split-right -->
				</div> <!-- END .split-section -->
				<!-- SPLIT DEMO A -->	

				<br/><hr/><br/>

				<!-- SPLIT DEMO A -->
				<div id="split-demo-b" class="split-section clearfix">
					<div class="split-left split-twothird">
						<iframe src="https://www.youtube.com/embed/nAhDfOzPPwA" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div> <!-- END .split-right -->
					<div class="split-right split-onethird">
						<div class="split-wrapped-content">
							<h4><strong>Jason Mraz 'You Make Me High'</strong></h4>
							<div class="separator-small"><span></span></div>
							<p>
								One of my early covers.
							</p>
						</div>
					</div> <!-- END .split-left -->
				</div> <!-- END .split-section -->
				<!-- SPLIT DEMO A -->

				<br/><hr/><br/>

				<!-- SPLIT DEMO A -->
				<div id="split-demo-a" class="split-section clearfix">
					<div class="split-left split-onethird">
						<div class="split-wrapped-content">
							<h4><strong>JSMN 'Street Sweeper'</strong></h4>
							<div class="separator-small"><span></span></div>
							<p>
								Jammin with my partner in crime.
							</p>
						</div>
					</div> <!-- END .split-left -->
					
					<div class="split-right split-twothird">
							<iframe src="https://www.youtube.com/embed/MGnzcmZYBqI" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div> <!-- END .split-right -->
				</div> <!-- END .split-section -->
				<!-- SPLIT DEMO A -->	

				<br/><hr/><br/>

				<!-- SPLIT DEMO A -->
				<div id="split-demo-b" class="split-section clearfix">
					<div class="split-left split-twothird">
						<iframe src="https://www.youtube.com/embed/oQ-k-XPIuTE" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div> <!-- END .split-right -->
					<div class="split-right split-onethird">
						<div class="split-wrapped-content">
							<h4><strong>N'Sync ' Gone' Acoustic</strong></h4>
							<div class="separator-small"><span></span></div>
							<p>
								Jammin with my partner in crime.
							</p>
						</div>
					</div> <!-- END .split-left -->
				</div> <!-- END .split-section -->
				<!-- SPLIT DEMO A -->	

				<br/><hr/><br/>

				<!-- SPLIT DEMO A -->
				<div id="split-demo-a" class="split-section clearfix">
					<div class="split-left split-onethird">
						<div class="split-wrapped-content">
							<h4><strong>Mali Live at 'The Park'</strong></h4>
							<div class="separator-small"><span></span></div>
							<p>
								Live performance in LA.
							</p>
						</div>
					</div> <!-- END .split-left -->
					
					<div class="split-right split-twothird">
						<iframe src="https://www.youtube.com/embed/R51ITlZg54E" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div> <!-- END .split-right -->
				</div> <!-- END .split-section -->
				<!-- SPLIT DEMO A -->	

				<br/><hr/><br/>


				<!-- SPLIT DEMO A -->
				<div id="split-demo-b" class="split-section clearfix">
					<div class="split-left split-twothird">
						<iframe src="https://www.youtube.com/embed/Mk9gSCnkjp8" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

					</div> <!-- END .split-right -->
					<div class="split-right split-onethird">
						<div class="split-wrapped-content">
							<h4><strong>Justin Timerlake 'Pusher Love Girl</strong></h4>
							<div class="separator-small"><span></span></div>
							<p>
								Acoustic Cover with my girl.
							</p>
						</div>
					</div> <!-- END .split-left -->
				</div> <!-- END .split-section -->
				<!-- SPLIT DEMO A -->	

				<br/><hr/><br/>


				<!-- SPLIT DEMO A -->
				<div id="split-demo-a" class="split-section clearfix">
					<div class="split-left split-onethird">
						<div class="split-wrapped-content">
							<h4><strong>Justin Timberlake 'Cry Me A River'</strong></h4>
							<div class="separator-small"><span></span></div>
							<p>
								Acoustic Cover.
							</p>
						</div>
					</div> <!-- END .split-left -->
					
					<div class="split-right split-twothird">
						<iframe src="https://www.youtube.com/embed/8vv3olisUi0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div> <!-- END .split-right -->
				</div> <!-- END .split-section -->
				<!-- SPLIT DEMO A -->	

				<br/><hr/><br/>

				<!-- SPLIT DEMO A -->
				<div id="split-demo-b" class="split-section clearfix">
					<div class="split-left split-twothird">
						<iframe src="https://www.youtube.com/embed/wPz2U8yjFXs" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div> <!-- END .split-right -->
					<div class="split-right split-onethird">
						<div class="split-wrapped-content">
							<h4><strong>Drake ft. Jhene Aiko 'From Time'</strong></h4>
							<div class="separator-small"><span></span></div>
							<p>
								Acoustic Cover.
							</p>
						</div>
					</div> <!-- END .split-left -->
				</div> <!-- END .split-section -->
				<!-- SPLIT DEMO A -->	

				<br/><hr/><br/>

				<!-- SPLIT DEMO A -->
				<div id="split-demo-a" class="split-section clearfix">
					<div class="split-left split-onethird">
						<div class="split-wrapped-content">
							<h4><strong>Marceline Finn's 'Fry Song'</strong></h4>
							<div class="separator-small"><span></span></div>
							<p>
								Acoustic Cover.
							</p>
						</div>
					</div> <!-- END .split-left -->
					
					<div class="split-right split-twothird">
							<iframe src="https://www.youtube.com/embed/Ci7t9UPMaXI" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div> <!-- END .split-right -->
				</div> <!-- END .split-section -->
				<!-- SPLIT DEMO A -->

				<br/><hr/><br/>


				<!-- SPLIT DEMO A -->
				<div id="split-demo-b" class="split-section clearfix">
					<div class="split-left split-twothird">
						<iframe src="https://www.youtube.com/embed/7ccMiT8QEMk" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div> <!-- END .split-right -->
					<div class="split-right split-onethird">
						<div class="split-wrapped-content">
							<h4><strong>'Lost' / 'Back in the Day' Mashup</strong></h4>
							<div class="separator-small"><span></span></div>
							<p>
								Jam Session.
							</p>
							<p>
						</div>
					</div> <!-- END .split-left -->
				</div> <!-- END .split-section -->
				<!-- SPLIT DEMO A -->	

				<br/><hr/><br/>


				<!-- SPLIT DEMO A -->
				<div id="split-demo-a" class="split-section clearfix">
					<div class="split-left split-onethird">
						<div class="split-wrapped-content">
							<h4><strong>Emily King 'Distance' </strong></h4>
							<div class="separator-small"><span></span></div>
							<p>
								Acoustic Cover.
							</p>
						</div>
					</div> <!-- END .split-left -->
					
					<div class="split-right split-twothird">
							<iframe src="https://www.youtube.com/embed/ZFmF6rLrjNA" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div> <!-- END .split-right -->
				</div> <!-- END .split-section -->
				<!-- SPLIT DEMO A -->                				
            </div> <!-- END .section-inner-->
     	</section>
        
      	<!-- FOOTER -->
		<%= render "shared/footer" %>
		<!-- FOOTER -->        
        
 	</div> <!-- END .page-body -->
	<!-- PAGEBODY -->
    
</div> <!-- END #page-content -->
<!-- PAGE CONTENT -->